 <div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading"> About me</h1>
                <p class="text-center sub-heading">If your actions inspire others to dream more.Then learn more, do more and become more, to Inspire more.</p>
            <div class="parallax3">
                <div class="row " >
                    <div class="col-md-6 col-12 hero-text order-1 imgclass2">
                        
                    </div>
                    
                        {{!--right side --}}
                    <div class="col-md-6 col-12 hero-text order-1 d-flex justify-content-center align-item-start flex-column">
                        <h1>A Tech-Savvy</h1>
                        <h1>pursuing Computer Science and Engineering </h1>
                        <p> at College of Engineering And Technology , Bhubaneswar , Odisha ,India.</p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>