<div class="container-fluid mt-5 about-style " id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading"> Need Help? </h1>
                <p class="text-center sub-heading">If your actions inspire others to dream more.Then learn more, do more and become more, to Inspire more.</p>
                <div class="row">
                      
                    <div class="col-md-12 col-12 hero-text order-1 d-flex justify-content-center align-item-start flex-column">
                        <div class="formcontainer">
                            <div class="formBx">
                                <form>
                                    <br/>
                                    <h2>Let me Help you !</h2>
                                    <div class="inputBox">
                                        <input type="text" name="" required="required"/>
                                        <span>Full Name</span>
                                    </div>

                                    <div class="inputBox">
                                        <input type="email" name="" required="required"/>
                                        <span>Email Address</span>
                                    </div>

                                    <div class="inputBox">
                                       <textarea required="required"></textarea>
                                        <span>Type your Message Here...</span>
                                    </div>
                                    <div class="inputBox">
                                        <input type="submit" value="Send" name=""/>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>