<section style="margin-top: 80px;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.574986513498!2d85.77365701474994!3d20.276453986410687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7f9d486f7c3%3A0xde71ead59307dcca!2sCollege%20of%20Engineering%20and%20Technology%2C%20Bhubaneswar!5e0!3m2!1sen!2sin!4v1614154972776!5m2!1sen!2sin" width="80%" height="450" style="border:0; max:auto; margin-left:10%; margin-right:10%" allowfullscreen="" loading="lazy"></iframe>
                        </section>